@charset "UTF-8";
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  overflow-x: hidden;
  margin: 0; }

.main {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/*Entête Logo*/
.entete {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  animation-duration: 1s;
  animation-fill-mode: both;
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2); }
  .entete .logo {
    font-family: "Shrikhand", cursive;
    color: black;
    text-align: center; }
  .entete a {
    text-decoration: none;
    color: white; }
  .entete .fas {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 35px;
    top: 40%;
    font-size: 20px;
    color: black; }

#div-entete {
  width: 100%;
  height: 400px;
  object-fit: cover; }
  #div-entete .image-entete {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.grand-titre h3 {
  font-family: "Roboto", cursive;
  position: relative;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 10px; }

.grand-titre h3::after {
  content: ' ';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  left: 0px;
  bottom: -8px; }

#menu {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1); }
  #menu .coeur {
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
  #menu .titre-entete-menu {
    font-family: "Shrikhand", cursive;
    margin-left: 10px; }
  #menu .bouton-menu {
    height: 32px;
    width: 32px;
    margin-right: 5px;
    background-color: transparent;
    border: transparent solid 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    background-color: #000; }
  #menu .bouton-menu:hover:before {
    opacity: 1; }
  #menu .bouton-menu:before {
    opacity: 0;
    transition: 0.5s;
    content: "";
    background: linear-gradient(0deg, #9356dc, #ff79da); }
  #menu .bouton-menu:before, #menu .coeur-avis {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  #menu .coeur-avis {
    transition-duration: 0.25s;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten; }
  #menu .bouton-menu:hover .coeur-avis-vide {
    opacity: 0; }
  #menu .les-menus {
    margin-top: -100px;
    max-width: 1250px;
    width: 100%;
    border-radius: 40px 40px 0 0;
    background-color: #F6F6F6;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1); }
    #menu .les-menus .blocs-menus {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      #menu .les-menus .blocs-menus .menu-composant {
        height: 70px;
        max-width: 100%;
        cursor: pointer;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        margin: 10px;
        padding: 0px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3); }
        #menu .les-menus .blocs-menus .menu-composant .description h4 {
          font-weight: 600;
          padding-left: 10px;
          margin: 2px 0 0 0; }
        #menu .les-menus .blocs-menus .menu-composant .description p {
          padding-left: 10px;
          margin: 2px 0 0 0; }
        #menu .les-menus .blocs-menus .menu-composant .prix {
          padding-right: 3px;
          font-weight: bold;
          color: black; }
        #menu .les-menus .blocs-menus .menu-composant .validation {
          display: flex;
          justify-content: center;
          align-items: center; }
        #menu .les-menus .blocs-menus .menu-composant i {
          color: white;
          margin-right: 0px; }

.menu-composant:hover .check {
  display: flex;
  background: #99e2d0;
  border-radius: 0 10px 10px 0;
  height: 70px;
  width: 60px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  -webkit-animation: slide 0.5s ease;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s ease;
  animation-delay: 0.5s; }

.menu-composant:hover .prix {
  padding-left: 70px; }

.menu-composant:hover h4 {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.menu-composant:hover p {
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.menu-composant:hover i {
  transform: rotate(180deg);
  animation: rotate 0.5s both; }

.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .bouton .boutton-commander {
    opacity: 1;
    background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite; }
  .bouton .boutton-commander:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
    animation-name: bounce; }

footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center; }
  footer a {
    text-decoration: none;
    color: white; }
  footer .blocs {
    display: inline;
    padding: 10px 40px;
    width: 100%;
    max-width: 1250px; }
    footer .blocs .logo {
      font-family: 'Shrikhand', cursive;
      color: white;
      font-size: 20px;
      padding: 15px 0; }
    footer .blocs .bloc-liens {
      display: flex;
      flex-direction: row;
      width: auto;
      text-align: center;
      justify-content: space-between; }
      footer .blocs .bloc-liens .bloc-lien {
        display: inline-flex;
        align-items: center;
        color: white;
        height: 60px;
        cursor: pointer; }
      footer .blocs .bloc-liens i {
        margin-right: 7px; }
      footer .blocs .bloc-liens .titre {
        font-size: 16px;
        font-weight: 400; }

/* ----------------------------------------------
 * Generated by Animista on 2021-7-23 10:38:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * Animations des divs menus
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; } }
@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%; } }
#anim1 {
  -webkit-animation: scale-up-bl 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim2 {
  -webkit-animation: scale-up-bl 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim3 {
  -webkit-animation: scale-up-bl 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim4 {
  -webkit-animation: scale-up-bl 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim5 {
  -webkit-animation: scale-up-bl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim6 {
  -webkit-animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim7 {
  -webkit-animation: scale-up-bl 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim8 {
  -webkit-animation: scale-up-bl 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.9s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

#anim9 {
  -webkit-animation: scale-up-bl 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

@-webkit-keyframes slide {
  100% {
    left: 0; } }
@keyframes slide {
  100% {
    left: 0; } }
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); } }
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none; } }
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes slide {
  100% {
    left: 0; } }
@keyframes slide {
  100% {
    left: 0; } }
@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* ----------------------------------------------
 * Generated by Animista on 2021-7-22 7:41:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation flip-in-diag-2-tl
 * ----------------------------------------
 */
@-webkit-keyframes flip-in-diag-2-tl {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 80deg);
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1; } }
@keyframes flip-in-diag-2-tl {
  0% {
    -webkit-transform: rotate3d(-1, 1, 0, 80deg);
    transform: rotate3d(-1, 1, 0, 80deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotate3d(1, 1, 0, 0deg);
    transform: rotate3d(1, 1, 0, 0deg);
    opacity: 1; } }
/* ----------------------------------------------
 * Generated by Animista on 2021-7-22 8:24:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-fwd-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0); }
  100% {
    -webkit-transform: translateZ(160px) translateX(-100px);
    transform: translateZ(160px) translateX(-100px); } }
@keyframes slide-fwd-left {
  0% {
    -webkit-transform: translateZ(0) translateX(0);
    transform: translateZ(0) translateX(0); }
  100% {
    -webkit-transform: translateZ(160px) translateX(-100px);
    transform: translateZ(160px) translateX(-100px); } }
@media screen and (max-width: 900px) {
  .blocs-menus {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important; }

  .grand-titre {
    margin-left: 10px; }

  .titre-entete-menu {
    margin-left: 10px; }

  footer {
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center; }
    footer a {
      text-decoration: none;
      color: white; }
    footer .blocs {
      display: inline;
      padding: 10px 40px;
      width: 100%; }
      footer .blocs .logo {
        font-family: 'Shrikhand', cursive;
        color: white;
        font-size: 20px;
        padding: 15px 0; }
      footer .blocs .bloc-liens {
        display: flex;
        flex-direction: column;
        width: auto;
        text-align: center;
        justify-content: space-between; }
        footer .blocs .bloc-liens .bloc-lien {
          display: inline-flex;
          align-items: center;
          color: white;
          height: 60px;
          cursor: pointer; }
        footer .blocs .bloc-liens i {
          margin-right: 7px; }
        footer .blocs .bloc-liens .titre {
          font-size: 16px;
          font-weight: 400; } }
